.vertical-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 12px;
    margin-top: 4px;
}

@media (min-width: 1180px) {
    .vertical-nav {
        padding: 0px 12px 0 85px;
    }
    .vertical-nav {
        align-items: baseline;
    }
}
