.icon svg {
    height: 22.25px;
    padding: 12px;
    font-weight: 400;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    padding: 4px;
}

.icon:hover {
    background-color: #E7E7E8;
}

.name {
    font-size: 20px;
    padding: 0px 12px;
}

.navbar-feature {
    display: flex;
    align-items: center;   
    text-decoration: none;
    padding: 4px 0px;
}