.icon svg {
    height: 22.25px;
    padding: 12px;
    font-weight: 400;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    padding: 4px;
}

.icon:hover {
    background-color: #E7E7E8;
}

.name {
    display: none;
    font-size: 20px;
    padding: 0px 12px;
}

.navbar-feature {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 6px 0px;
    border-radius: 60px;
    max-width: fit-content;
    height: 52px;
}

.navbar-feature:hover {
    background-color: #E7E7E8;
    cursor: pointer;
}

@media (min-width: 1175px) {
    .name {
        display: block;
    }
    .navbar-feature {
        padding: 0px 20px 0px 0px;
    }
}