.status-container {
    display: flex;
    padding: 4px 16px;
    border-bottom: 1px solid rgb(239, 243, 244, 1);
}
.status-pic {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.status-privacy-setting {
    display: flex;
    align-items: center;
    color: #1D9BF0;
    max-width: fit-content;
    padding: 3px 14px;
    border-radius: 9999px;
    margin: 7px 4px 12px 4px;
}
.status-privacy-setting p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}
.status-privacy-setting:hover {
    background-color: #EBF5FE;
    cursor: pointer;
}
.status-input:focus {
    outline: none;
}
.status-input-container {
    width: 100%;
}
.earth-icon {
    font-size: 14px;
    padding-right: 4px;
}
.icons-bar {
    display: flex;
    margin: 0 8px;
    padding-top: 12px;
    padding-bottom: 7px;
}
.icons-bar svg {
    padding: 9px;
    border-radius: 50%;
    font-size: 17px;
}
.icons-bar svg:hover {
    background-color: #EBF5FE;
    cursor: pointer;
}
.status-privacy-setting-container {
    border-bottom: 1px solid rgb(239, 243, 244, 1);
    width: 98%;
}
.__react_component_tooltip::after {
    display: none;
}
.tool-tip {
    padding: 3px !important;
    font-size: 10px !important;
}
.icon-location {
    opacity: 0.5;
    pointer-events: none;
}
.icon-tweet-btn-container{
    display: flex;
    justify-content: space-between;
    color: #1D9BF0;
}
.verticle-line {
    height: 31px;
    width: 1px;
    background-color: rgb(185, 202, 211);
    border: none;
}
.circle-plus {
    background-color: white;
    color: #1D9BF0;
    border-radius: 50%;
    border: 1px solid rgb(185, 202, 211);
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.circle-plus:hover {
    background-color: #EBF5FE;
    cursor: pointer;
}
.status-tweet-btn {
    background-color: #1D9BF0;
    padding: 10px 17px;
    border: none;
    border-radius: 9999px;
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.status-tweet-btn:hover {
    cursor: pointer;
    background-color: #198DD8;
}
.tweet-btn-container {
    display: flex;
    align-items: center;
    gap: 12px;
}
.circular-bar {
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sample-pic {
    width: 40px;
    height: 40px;
}







