.desktop-tweet-btn {
    display: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 90px;
    margin: 6px 5px;
    border-radius: 60px;
    border: none;
    background-color: rgb(29, 155, 240);
}

.desktop-tweet-btn:hover {
    background-color: #198DD8;
    cursor: pointer;
}

.mobile-tweet-btn {
    width: 50px;
    height: 50px;
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 50%;
    border: none;
}

.mobile-tweet-btn:hover {
    background-color: #198DD8;
    cursor: pointer;
}

@media (min-width: 1180px) {
    .desktop-tweet-btn {
        display: block;
    }
    .mobile-tweet-btn {
        display: none;
    }
}
