.profile-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 60px;
    border: 0;
    padding: 0;
    margin-bottom: 12px;
}

.profile-btn:hover {
    background-color: #E7E7E8;
    cursor: pointer;
}

.username-container p {
    margin: 0;
    padding-right: 50px;
}

.username-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.profile-pic {
    border-radius: 50%;
    padding: 12px;
    width: 2.5rem;
    height: 2.5rem;
}

.profile-icon {
    font-size: 16px;
    padding: 12px;
    display: none;
}

.username {
    font-size: 14px;
    font-weight: 800;
}

.nickname {
    font-size: 15px;
    color: #5a5a5a;
    padding-top: 2px;
}

@media (min-width: 1190px) {
    .username-container {
        display: flex;
    }
    .profile-icon {
        display: block;
    }
}
